@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: 'Amatic SC', cursive;
}

h1 {
    font-size: 40px;
}

#logo {
    height: 96px;
    width: 249px;
    margin-left: 100px;
}

input {
    border-radius: 5px;
}

.container {
    visibility: hidden;
}